@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Poppins:wght@600&display=swap');

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right top, rgb(22, 22, 25), rgb(26, 26, 38));
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    width: 20%;
    height: 60vh;
    background-color: rgba(255, 255, 255, 0.03);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.792);
    overflow: hidden;
    border-radius: 15px;
    backdrop-filter: blur(10px);
}

.logo {
    margin-top: 25px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.logo__img {
    width: 30%;
    height: auto;
    border-radius: 50%;
}

.text {
    width: 100%;
    height: auto;
    text-align: center;
    color: rgb(229, 229, 229);
}

.buttons {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.button1, .button2, .button3, .button4 {
    margin: 10px;
    width: 80%;
    padding: 10px;
    background: #4351eb;
    color: #fff;
    text-align: center;
    border-radius: 20px;
    text-decoration: none;
    transition: background-color 0.5s;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.792);
}

.button1:hover, .button2:hover, .button3:hover {
    background-color: #3540ba;
}

.background-shapes {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: -1;
}

.circle {
    position: absolute;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    filter: blur(100px);
}

.circle.cyan {
    background-color: #008DFF;
    top: -250px;
    left: -250px; 
    animation-name: circles;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    animation-direction: alternate;
}

.circle.white {
    background-color: #ffffff;
    bottom: -250px;
    right: -250px;
    animation-name: circles;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    animation-direction: alternate;
}

@keyframes circles {
    from {
        width: 400px;
        height: 400px;
    }
    to {
        width: 600px;
        height: 600px;
    }
}

@media (max-width: 768px) {

    .circle {
        position: absolute;
        width: 500px;
        height: 500px;
        border-radius: 50%;
        filter: blur(100px);
    }
    
    .circle.cyan {
        background-color: #00ffff90;
        top: -350px;
        left: -350px;
    }
    
    .circle.pink {
        background-color: #ff00ff7b;
        bottom: -350px;
        right: -350px;
    }

    .container {
        flex-direction: column;
        height: auto;
        display: flex;
        align-items: center;
        float: center;
    }
    
    .box {
        margin-top: 30%;
        width: 90%;
        height: 70vh;
    }

    .logo {
        width: 100%;
        height: auto;
    }
    
    .logo__img {
        width: 30%;
        float: none;
        height: auto; /* Adjust height as needed */
    }
    
    .buttons {
        width: 100%;
        float: center;
        height: auto;
    }
}
